.DS_Store
node_modules
/dist
.docker/postgres
.docker/mysql

# local env files
.env.local
.env.*.local
api/.env.local
api/.env.*.local
api/.git

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Laravel Files API
api/.phpunit.cache
api/node_modules
api/public/build
api/public/hot
api/public/storage
api/storage/*.key
api/vendor
api/.env
api/.env.backup
api/.env.production
api/.phpunit.result.cache
api/Homestead.json
api/Homestead.yaml
api/auth.json
api/npm-debug.log
api/yarn-error.log
api/.fleet
api/.idea
api/.vscode

